##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

{% if postgresql_conf_dir is defined %}

listen_addresses = '*'
port = 5432

shared_buffers = {{ shared_buffers }}MB
max_connections = {{ max_connections }}
effective_cache_size = {{ effective_cache_size }}MB
maintenance_work_mem = {{ maintenance_work_mem }}MB
temp_buffers = {{ temp_buffers }}MB
work_mem = {{ work_mem }}MB
effective_io_concurrency = {{ effective_io_concurrency }}

autovacuum_work_mem = -1

temp_file_limit = -1
max_files_per_process = 1000

wal_level = replica

fsync = on
full_page_writes = on

max_wal_senders = 3

wal_keep_segments = 128
wal_sender_timeout = 60s

log_timezone = 'Europe/Moscow'

autovacuum = on
datestyle = 'iso, mdy'
timezone = 'Europe/Moscow'

lc_messages = 'ru_RU.UTF-8'             # locale for system error message
                                        # strings
lc_monetary = 'ru_RU.UTF-8'             # locale for monetary formatting
lc_numeric = 'ru_RU.UTF-8'              # locale for number formatting
lc_time = 'ru_RU.UTF-8'                 # locale for time formatting

# default configuration for text search
default_text_search_config = 'pg_catalog.russian'

{% if postgresql_conf is defined %}
{% for opt in postgresql_conf %}
{{ opt }} = {{ postgresql_conf[opt] }}
{% endfor %}
{% endif %}
{% endif %}
